#title{
background-color: rgb(94, 99, 105);
display: inline-block;
font-size: 40px;
border:2px solid black;
border-radius:5px;

}
body{
    background-image: url(merch.png);
    background-repeat: no-repeat;
    background-size: 1950px;
    

}